package components

import "autojob/models"

templ Settings(user models.User) {
	@Layout("Settings") {
		<main>
			@Nav()
			<h2>{ user.FirstName }'s account</h2>
			@SettingsForm(user, true, "GET")
		</main>
	}
}
