<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💼</text></svg>"
        />
        <style></style>
        <title>AUTO JOB</title>
    </head>
    <body>
        <header>
            <h1>AUTO JOB</h1>
            <p>
                A simple site that helps you find a job through automation and
                AI.
            </p>
        </header>
        <section>
            <fieldset>
                <legend>Sign up</legend>
                <form>
                    <div>
                        <label for="first-name">First name:</label>
                        <input id="first-name" type="text" required />
                    </div>
                    <div>
                        <label for="last-name">Last name:</label>
                        <input id="last-name" type="text" required />
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input id="email" type="email" required />
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input id="password" type="password" required />
                    </div>
                    <button type="submit">
                        <span>Submit</span>
                    </button>
                </form>
                <p>
                    <span
                        >Already have an account? Log in
                        <a href="/">here</a>.</span
                    >
                </p>
            </fieldset>
        </section>
    </body>
</html>
